<a href="https://colab.research.google.com/github/HaleemaAsad0/HaleemaAsad0-YoungDevInterns_Data-Analyst_Tasks/blob/main/(EXPERT)_TASK_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#load the dataset
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DigiDB_digimonlist.csv')

In [ ]:
df.head()

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,Lv 50 HP,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum()

Number         0
Digimon        0
Stage          0
Type           0
Attribute      0
Memory         0
Equip Slots    0
Lv 50 HP       0
Lv50 SP        0
Lv50 Atk       0
Lv50 Def       0
Lv50 Int       0
Lv50 Spd       0
dtype: int64

In [ ]:
print(df.shape)

(249, 13)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Number       249 non-null    int64
 1   Digimon      249 non-null    object
 2   Stage        249 non-null    object
 3   Type         249 non-null    object
 4   Attribute    249 non-null    object
 5   Memory       249 non-null    int64
 6   Equip Slots  249 non-null    int64
 7   Lv 50 HP     249 non-null    int64
 8   Lv50 SP      249 non-null    int64
 9   Lv50 Atk     249 non-null    int64
 10  Lv50 Def     249 non-null    int64
 11  Lv50 Int     249 non-null    int64
 12  Lv50 Spd     249 non-null    int64
dtypes: int64(9), object(4)
memory usage: 25.4+ KB
None

In [ ]:
import numpy as np

In [ ]:
mean = np.mean(df['Lv 50 HP'])

In [ ]:
print(mean)

1210.8835341365461

In [ ]:
median = np.median(df['Lv 50 HP'])

In [ ]:
print(median)

1180.0

In [ ]:
std_dev = np.std(df['Lv 50 HP'])

In [ ]:
print(std_dev)

325.44690078549417